<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285971971611-1c2u3fnd5orf8edpm7hles4u3neeqgrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285971971611-1c2u3fnd5orf8edpm7hles4u3neeqgrf</string>
	<key>API_KEY</key>
	<string>AIzaSyDrYp5jlPSCH_YWtesZ5UaMIdhYLoSAXRY</string>
	<key>GCM_SENDER_ID</key>
	<string>285971971611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.benoitfontaine.judoseclin</string>
	<key>PROJECT_ID</key>
	<string>judoseclin-e4b0f</string>
	<key>STORAGE_BUCKET</key>
	<string>judoseclin-e4b0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285971971611:ios:e6818d7e1c0a568010c2be</string>
</dict>
</plist>